#formComponent {
  width: 70vw;
  height: fit-content;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: groove 6px rgba(132, 178, 146, 0.414);
  border-radius: 18px;
  font-family: 'Rubik', sans-serif;
}

#formComponent label {
  margin-right: 10px;
  align-self: center;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
  color: azure;
  text-shadow: 1px 1px 1px black;
}

#labels {
  margin: 20px auto;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#labels input {
  margin: 10px 2px;
  width: 25%;
  border-radius: 20px;
  padding: 10px;
}

#labels textarea {
  width: 40%;
  min-height: 120px;
  border-radius: 20px;
  padding: 10px;
}

#scores {
  margin-top: 10px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

#dietBox ul {
  margin: 20px auto;
  width: 40vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

#dietBox li {
  margin: 4px 30px;
  font-size: 1em;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px black;
  border: solid 2px gold;
  background-color: rgb(212, 204, 158);
  padding: 8px 12px;
  border-radius: 20px;
}

#dietBox input {
  cursor: pointer;
  margin-left: 10px;
  border: solid 4px black;
}

#dietBox input:hover {
  outline: solid 2px rgba(10, 155, 87, 0.918);
}

#dietBox input:checked {
  outline: solid 2px rgba(10, 155, 87, 0.918);
}

#submit #back {
  display: flex;
  justify-content: center;
  width: 100%;
}

p.danger {
  display: inline;
  color: red;
  font-size: 10px;
  margin: 0;
}

input.danger {
  border: 2px solid red;
}

#buttons {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
